@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Components.Authorization
@using YogaApp.Web.Auth
@inherits LayoutComponentBase

<MudThemeProvider Theme="@TemaYoga"/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1" Color="Color.Primary">
    <MudIcon Icon="@Icons.Material.Filled.SelfImprovement" Size="Size.Large" Class="mr-2" />
    <MudText Typo="Typo.h5" Class="font-weight-bold">YogaApp</MudText>
    <MudSpacer /> 
    <MudButton Href="/" Color="Color.Inherit" Class="mr-2">Inicio</MudButton>

    <AuthorizeView>
        <Authorized>
            @* Esto solo se ve si estás LOGUEADO *@
            <MudText Class="mr-4">Hola, Alumno</MudText>
            <MudButton OnClick="CerrarSesion" Color="Color.Inherit" Variant="Variant.Outlined" Class="rounded-pill">
                Cerrar Sesión
            </MudButton>
        </Authorized>
        <NotAuthorized>
            @* Esto solo se ve si NO estás logueado *@
            <MudButton Href="/login" Variant="Variant.Outlined" Color="Color.Inherit" Class="rounded-pill border-solid border-2">
                Iniciar Sesión
            </MudButton>
        </NotAuthorized>
    </AuthorizeView>
</MudAppBar>

    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    Ha ocurrido un error inesperado.
    <a href="" class="reload">Recargar</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    [Inject] YogaApp.Web.Auth.JwtAuthStateProvider AuthProvider { get; set; }
    [Inject] ILocalStorageService LocalStorage { get; set; }
    [Inject] NavigationManager Nav { get; set; }

    private async Task CerrarSesion()
    {
        await LocalStorage.RemoveItemAsync("authToken"); // Tiramos la llave
        AuthProvider.NotificarLogout(); // Avisamos que nos fuimos
        Nav.NavigateTo("/"); // Al inicio
    }
    // Paleta de colores "Lavanda Zen" (Violetas y Lilas)
    MudTheme TemaYoga = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = "#7E57C2",   /* Un violeta profundo y espiritual */
            Secondary = "#B39DDB", /* Un lila/lavanda más suave para detalles */
            AppbarBackground = "#7E57C2", /* El color de la barra superior */
            Background = "#F6F4F9", /* Un blanco con una gotita de lila para relajar la vista */
            Surface = "#FFFFFF",    /* Blanco puro para las tarjetas */
            TextPrimary = "#322A40", /* Un gris muy oscuro casi violeta para el texto (no cansa la vista) */
            PrimaryContrastText = "#FFFFFF" /* Texto blanco sobre los botones violetas */
        }
    };
}